
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  box-sizing: border-box;
}

.App {
  margin: auto;
  padding: 0;
  text-align: center;
  width: 70%;
  font-family: 'Inter';
}

/* style the header */
.header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header-image {
  margin: 5px 5px 0 0;
  padding: 0;
}

.header-text {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.03em;
  color: #FFFFFF;
}

/* style the card */
.section-card {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  margin: 10px;
}

.card-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.location {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size:small;
}

.location-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
}

.location-link {
  font-weight: 400;
  font-size: 10.24px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}